<!doctype html><!-- vmod_detail0 : 分類表の詳細ページ -->
<html lang="jp">
  <head><%- include('../partials/v_head') %></head>
  <body>
  <header><%- include('../partials/header') %></header>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary top-bread">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active"><a href="/voca/<%- lg %>/v/"><%= lang_jp %></a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
        <%- include('../partials/v_sidebar') %>
        <div class="col main">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">語彙リスト</h2>
            </div>
          </div>
          <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb bg-secondary">
                <li class="breadcrumb-item active first-item"><a href="./table">基礎語彙分類表</a></li>
                <li class="breadcrumb-item active"><strong><%= category %></strong></li>
              </ol>
            </nav>
            <div class="row">
              <h5 class="col-6">　id　語彙</h5>
              <h5 class="col-6">取得件数：<span class="c_cand"></span>件</h5>
            </div>
            <div class="result-area container">
              <div class="list-group list-group-flush result-list">
              </div>
            </div><!-- result-area -->
          </div>
        </div>
      </div>
    </main>
    <div class="push"></div>
    <footer><%- include('../partials/footer') %></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var search_result_list = <%- JSON.stringify(search_result_list) %>;
      $(".c_cand").text(search_result_list.length)
      var i = 1;
      var targetWordIds = []
      for (var item of search_result_list) {
        $(".result-list").append('<a href="./t_search_detail" class="list-group-item list-group-item-action"><span class="id">'+i+'.</span><span class="midas_go" id='+item.word_id+'>'+item.basic+'</span>（'+item.midasi+'）</a>')
        targetWordIds.push(item.word_id)
        i+=1;
      }
      $(".result-list").find("a").on("click", function(){
        var targetWord = $(this).find(".midas_go").text()
        var targetWordId = $(this).find(".midas_go").attr("id")
        var url = $(this).attr("href")
        var targetData = '<input type="hidden" name="category" value="<%= category %>"/><input type="hidden" name="targetWordId" value='+targetWordId+'/><input type="hidden" name="chuno" value="<%= chuno %>"/><input type="hidden" name="targetWordIds" value="'+targetWordIds+'"/>'
        $("body").append('<form action='+url+'method="post" id="post">'+targetData+'</form>');
        $("#post").submit();
        return false;
      });
      let windowWidth = $(window).width()
      if (windowWidth < 767) {
        $(function(){
          $("#v_sidebar").before($(".main"));
        });
      }
    </script>
    <style>
      .id, .c_cand{
        padding-right: 10px;
      }
      .result-list a {
        max-width: 400px;
      }
      @media screen and (min-width: 1200px) {
        .sidebar {
          height: 100vh;
        }
      }
    </style>
  </body>
</html>
