<!doctype html>
<html lang="jp">
<head>
  <%- include('../partials/v_head') %>
</head>
<body>
  <header><%- include('../partials/header') %></header>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary top-bread">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active"><a href="/voca/<%- lg %>/v/"><%= lang_jp %></a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
          <%- include('../partials/v_sidebar') %>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">検索</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-header">1. 文字検索</div>
            <div class="card-body">
              <p>検索したい文字をクリックしてください</p>
              <table class="table table-bordered table-sm table-responsive-sm text-center mx-auto" id="cahrtable">
                <tbody>                
                <tr>
                  <td id="cahr_A"><a href="" class="menu_charsearch disabled" >A</a></td>
                  <td id="cahr_B"><a href="" class="menu_charsearch disabled" >B</a></td>
                  <td id="cahr_C"><a href="" class="menu_charsearch disabled" >C</a></td>
                  <td id="cahr_D"><a href="" class="menu_charsearch disabled" >D</a></td>
                  <td id="cahr_E"><a href="" class="menu_charsearch disabled" >E</a></td>
                  <td id="cahr_F"><a href="" class="menu_charsearch disabled" >F</a></td>
                </tr>
                <tr>
                  <td id="cahr_G"><a href="" class="menu_charsearch disabled" >G</a></td>
                  <td id="cahr_H"><a href="" class="menu_charsearch disabled" >H</a></td>
                  <td id="cahr_I"><a href="" class="menu_charsearch disabled" >I</a></td>
                  <td id="cahr_J"><a href="" class="menu_charsearch disabled" >J</a></td>
                  <td id="cahr_K"><a href="" class="menu_charsearch disabled" >K</a></td>
                  <td id="cahr_L"><a href="" class="menu_charsearch disabled" >L</a></td>
                </tr>
                <tr>
                  <td id="cahr_M"><a href="" class="menu_charsearch disabled" >M</a></td>
                  <td id="cahr_N"><a href="" class="menu_charsearch disabled" >N</a></td>
                  <td id="cahr_O"><a href="" class="menu_charsearch disabled" >O</a></td>
                  <td id="cahr_P"><a href="" class="menu_charsearch disabled" >P</a></td>
                  <td id="cahr_Q"><a href="" class="menu_charsearch disabled" >Q</a></td>
                  <td id="cahr_R"><a href="" class="menu_charsearch disabled" >R</a></td>
                </tr>
                <tr>
                  <td id="cahr_S"><a href="" class="menu_charsearch disabled" >S</a></td>
                  <td id="cahr_T"><a href="" class="menu_charsearch disabled" >T</a></td>
                  <td id="cahr_U"><a href="" class="menu_charsearch disabled" >U</a></td>
                  <td id="cahr_V"><a href="" class="menu_charsearch disabled" >V</a></td>
                  <td id="cahr_W"><a href="" class="menu_charsearch disabled" >W</a></td>
                  <td id="cahr_X"><a href="" class="menu_charsearch disabled" >X</a></td>
                </tr>
                <tr>
                  <td id="cahr_Y"><a href="" class="menu_charsearch disabled" >Y</a></td>
                  <td id="cahr_Z"><a href="" class="menu_charsearch disabled" >Z</a></td>
                  <td id="cahr_-"><a href="" class="menu_charsearch disabled" >-</a></td>
                  <td colspan="3" class="nondisplay"></td>
                </tr>
              </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              2. 単語検索
            </div>
            <div class="card-body">
              <td><strong>＊前方、後方、完全一致またはあいまい検索が可能です。</strong><br>
               　前方一致：[a] で検索　→　[apple] や [apricot] などを検索できます。<br>
               　後方一致：[a] で検索　→　[banana] や [guava] などを検索できます。<br>
               　あいまい検索：[ra] で検索　→　[grape] や [orange] などを検索できます。</td>
               <div class="tab_box">
                <div class="btn_area">
                  <button type="button" class="btn tab_btn active" id="defo-tab">検索</button>
                </div>
                <div class="panel_area container" id="tab-area">
                  <div class="tab_panel active" id="defo-panel">
                    <div class="search-type-select row">
                      <div class="col-lg">
                        単語を入力してください　<!-- 候補：<span id="inputCand">0</span>件 -->
                      </div>
                      <div class="form-check-inline col-lg-6">
                        <div class="float-end">
                          <input class="form-check-input search-type" type="radio" name="flexRadioDefault" id="search-type1" checked>
                          <label for="search-type1" class="form-check-label">前方一致</label>
                          <input class="form-check-input search-type" type="radio" name="flexRadioDefault" id="search-type2">
                          <label for="search-type2" class="form-check-label">後方一致</label>
                          <input class="form-check-input search-type" type="radio" name="flexRadioDefault" id="search-type3">
                          <label for="search-type3" class="form-check-label">あいまい検索</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-7">
                         <input type="text" class="form-control col-auto" id="keyword">
                       </div>
                       <div class="col-3">
                         <button class="btn btn-outline-primary col-auto" id="search-btn">検索</button>
                       </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer') %></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
    //検索タイプ設定
    var char_list = <%- JSON.stringify(char_list) %>;
    function getRandomStr() {
       var result = Math.random().toString(36).slice(-8);
        return result;
    }
    for(const cahr of char_list) {
      var bigcahr = cahr.toUpperCase();
      var id = `#cahr_${bigcahr}`;
      $(id).find("a").removeClass('disabled');
      $(id).find("a").attr("href", `./v_search_list=${cahr}`)
    }
    /*
    $(".search-type").change(function(){
      if ($(this).attr("id") === "search-type1") { //前方一致
        $(function() {
          $("#keyword").autocomplete({
            source: function(request, response) {
              var list = [];
              list = words_list.filter(function (word) {
                return word.indexOf(request.term) === 0 || word.toLowerCase().indexOf(request.term) === 0;
              });
              response(list);
              $("#inputCand").text(list.length)
            },
          });
        });
      }else if ($(this).attr("id") === "search-type3") { //あいまい検索
        $(function() {
          $("#keyword").autocomplete({
            source: function(request, response) {
              var list = [];
              list = words_list.filter(function (word) {
                return word.indexOf(request.term) != -1 || word.toLowerCase().indexOf(request.term) != -1;
              });
              response(list);
              $("#inputCand").text(list.length)
            },
          });
        });
      } else if ($(this).attr("id") === "search-type2") { //後方一致
        $(function() {
          $("#keyword").autocomplete({
            source: function(request, response) {
              var randamStr = getRandomStr();
              var list = [];
              list = words_list.filter(function (word) {
                var str = word+randamStr
                return str.indexOf(+request.term+randamStr) !== -1 || str.toLowerCase().indexOf(request.term+randamStr) !== -1;
              });
              response(list);
              $("#inputCand").text(list.length)
            },
          });
        });
      }
    });
    //オートコンプリート（デフォルト）
    $(function() {
      $("#keyword").autocomplete({
        source: function(request, response) {
          var list = [];
          list = words_list.filter(function (word) {
            return word.indexOf(request.term) === 0 || word.toLowerCase().indexOf(request.term) === 0;
          });
          response(list);
          $("#inputCand").text(list.length)
        },
      });
    });
    */
   /*
    $("#keyword").keyup(function(){
      if($("#keyword").val().length === 0){
        $("#inputCand").text("0")
      }
    });
    */
    $("#search-btn").click(function(){
      if (targetWord === "") {
        swal({
          text: "単語を入力してください"
　       });
      } else if (targetWord.length > 0) {
        var targetWord = $("#keyword").val();
        var searchType = $(".search-type").attr("id");
        var targetURL = `./v_search_list=str=${targetWord}&st=${searchType}`
      }
      window.location.href(targetURL);
    });
    //リセットボタン
    $(function (){
      $("#reset-btn").on("click", function(){
        clearFrom();
      });
      function clearFrom() {
        $("#keyword").val("");
      }
    });
    </script>
    <style>
      footer {
        padding-top: 40px;
      }
      .search-type-select {
        padding-bottom: 10px;
      }
      a.disabled {
        pointer-events: none;
        text-decoration-line: none;
        color: #6c757d;
      }
      #cahrtable {
        max-width: 500px;
      }
      #cahrtable td a {
        display: block;
        cursor: pointer;
      }
      #cahrtable td:hover :not(.disabled){
        background-color: rgba(0, 0, 0, 0.075);
      }
      #cahrtable.nondisplay{
        visibility: hidden;
      }
    </style>
</body>
</html>
