<!doctype html><!-- vmod_detail_kiso : 基礎語彙の学習の詳細ページ -->
<html lang="jp">
<head>
  <%- include('../partials/v_head') %>
</head>
  <body>
  <header><%- include('../partials/header') %></header>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary top-bread">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active"><a href="/voca/<%- lg %>/v/"><%= lang_jp %></a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
          <%- include('../partials/v_sidebar') %>
        <div class="col main">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">語彙詳細</h2>
            </div>
          </div>
          <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb bg-secondary">
                <li class="breadcrumb-item active" aria-current="page"><a href="./catego" class="first-item">基礎語彙の学習</a></li>
                <li class="breadcrumb-item active" aria-current="page">詳細</li>
                <li class="breadcrumb-item active"><a href="" id="UrlToTable"><%= category %></a></li>
              </ol>
            </nav>
            <div class="">
              <p class="float-end"><span id="now_item">今</span>/<span id="all_items"></span>ページ</p>
            </div>
            <div class="container">
              <button type="button" name="button" class="btn btn-outline-primary col-auto btn_previous">　前　</button>
              <button type="button" name="button" class="btn btn-outline-primary col-auto btn_next">　次　</button>
            </div>
            <div class="result-area container">
              <h3 class="text-center targetWord"></h3>
              <hr class="featurette-divider">
              <div class="result-card-area">
              </div>
              <div class="container text-center button-area">
                <button type="button" name="button" class="btn btn-outline-primary col-auto float-start btn_previous">　前　</button>
                <a href="./catego">戻る</a>
                <button type="button" name="button" class="btn btn-outline-primary col-auto float-end btn_next">　次　</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="push"></div>
    <footer><%- include('../partials/footer') %></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      var targetTable = "./catego#<%- category %>"
      window.onload = function(){
        $("#UrlToTable").prop("href", targetTable);
      }
      var targetArray = <%- JSON.stringify(targetObj) %>;
      var targetIndex = "";
      var targetItems;
      $("#all_items").text(targetArray.length)
      for (var i = 0; i < targetArray.length; i++) {
        if (targetArray[i].midasi === "<%= targetWord %>") {
          targetIndex = i
        }
      }
      showResult(targetIndex)
      $(".btn_previous").click(function(){
        $(".btn_next").prop("disabled", false);
        targetIndex = targetIndex-1
        if (targetIndex >= 0) {
          $(".result-card-area").empty()
          showResult(targetIndex);
        }
      });
      $(".btn_next").click(function(){
        $(".btn_previous").prop("disabled", false);
          targetIndex = targetIndex+1
          if (targetIndex < targetArray.length) {
            $(".result-card-area").empty()
            showResult(targetIndex);
          }
      });
      function showResult(index){
        $("#now_item").text(index+1);
        var targetItem = targetArray[index]
        $(".targetWord").text(targetItem.midasi)
        var num = 1;
        targetItem.inst.forEach((item) => {
          let explain = item.usage
          var imi_list = []
          if (explain.includes("＊")) {
            imi_list.push(explain.replace("＊", "<br>＊"))
          } else {
            imi_list.push(explain)
          }
          $(".result-card-area").append('<p class="explain"><span>（'+num+'）</span>'+imi_list+'</p>')
          $(".result-card-area").append('<div class="card"><div class="card-header"><h5 class="card-title text-center">＜例文＞</h5></div><div class="card-body examples"></div></div>')
          item.reibun.forEach((element) => {
            for (var s of element) {
              $(".examples:last").append('<p>・'+s.targetlanguage+'</p><p>・'+s.trans+'</p>')
              var link = makeModLink(s.module_id, s.xml_file_name, s.xpath)
              $(".examples:last").append(link)
            }
          });
          num+=1;
        });
        switch (index) {
            case 0:
              $(".btn_previous").prop("disabled", true);
              break;
            case targetArray.length-1:
              $(".btn_next").prop("disabled", true);
              break;
          }
          if (targetArray.length === 1) {
            $(".btn_previous").prop("disabled", true);
            $(".btn_next").prop("disabled", true);
          }
      }
      let windowWidth = $(window).width()
      if (windowWidth < 767) {
        $(function(){
          $("#v_sidebar").before($(".main"));
        });
      }
      //getGmodSoundFile
      function getGmodSoundFile(xml_file_name, xpath){
        if (xml_file_name == null || xml_file_name == "" || xpath == null || xpath == "")  {
          return "";
        } else {
          var expORins = "";
          var fileno = "";
          var matches = xml_file_name.match(/([a-z]+)(\d{3})\.xml/)
          if (matches != null) {
            expORins = matches[1].substring(0, 3) // exp or ins
            fileno = matches[2]
          }
          var no1 = "";
          var no2 = "";
          var lang = "<%- lg %>"
        // xpathから音声ファイル名を作成
          var matches = xpath.match(/gmod:instanceblock\[(\d+)\]\/gmod:instance\[(\d+)\]/)
          if (matches != null) {
            no1 = matches[1] - 1;
            no2 = matches[2] - 1;
          }
          var gmodsound = `../../../mt/${lang}/gmod/sound/instances/${expORins}${fileno}_${no1}_${no2}.mp3`;
          var ret = `
          <!-- ${gmodsound} -->
            <audio calss="gmodsound">
              <source src='${gmodsound}' type='audio/mp3'>
            </audio>
            <span class='soundLink instSound'/><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/></svg>
            </span>
          `
          return ret
        }
      }
      //getGmodLink
      var htmlfile = "";
      function getGmodLink(xml_file_name, xpath){
        htmlfile = xml_file_name.replace(/(explanation|instances)(\d{3})\.xml/, '$1/$2.html')
        var lang = "<%- lg %>"
        var gmodsound = getGmodSoundFile(xml_file_name, xpath)
        var link = `
          <!--■■■Gモジュールへのリンク■■■-->
          <div class="gmodsoundBlock">
            ${gmodsound}
            <a href="../../../mt/${lang}/gmod/contents/${htmlfile}" target="blank" class="gmodlink">文</a>
          </div>
        `
        return link
      }
      //getDmodSoundFile
      function getDmodSoundFile(htmlfile, xpath){
        var line =  "";
        var sentence = "";
        var matches = xpath.match(/line\[(\d+)\]\/sentence\[(\d+)\]/)
        if (matches != null) {
          line = matches[1] - 1;
          sentence = matches[2] -1;
        }
        var stid = "st_id"+Number(line)+"_"+Number(sentence);
        var pmodpage = file_get_contents(htmlfile)
        var start = matches[1];
        var stop = matches[2];
        var lang = "<%- lg %>"
        var matches = htmlfile.match(/.*(\d{2})\.html/)
        if (matches === null) {
          return "";
        }
        var dmodsound = `../../../mt/${lang}/dmod/class/movie/${lang}_ja${matches[1]}.mp4`
        var ret = `
          <!-- ${dmodsound} -->
          <span  class='dmodsound' onclick="playDmodSound('${dmodsound}', '${start}', '${stop}')">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
          </svg>
          </span>
        `
        return ret
      }
      //getDmodlink
      function getDmodlink(xml_file_name, xpath){
        var dmod_funcId = "";
        var matches = xml_file_name.match(/^(.*)(\d{2})\.xml/)
        if (matches != null) {
          dmod_funcId = matches[2]; // ex. 15
        }
        var lang = "<%- lg %>"
        var lang_matches = lang.match(/ja_([a-z][a-z])/)
        // 英語ページ 英語はHTMLファイルの名前がfunc_01.htmlとstory_01.htmlの２種ある
        if (lang === "en") {
          htmlfile = `../../../mt/${lang}/dmod/class/func_${dmod_funcId}.html`
        } else if (lang_matches != null) {  // ex. ja_th
          htmlfile = `../../../mt/${lang}/dmod/class/${lang_matches[1]}_${dmod_funcId}.html` // 多言語版会話は日本語でもth_01.htmlという命名則
        } else {
          htmlfile = `../../../mt/${lang}/dmod/class/ja_${dmod_funcId}.html`;
        }
        var dmodsound = getDmodSoundFile(htmlfile, xpath);
        var link = `
          <!--■■■Dモジュールへのリンク■■■-->
            ${dmodsound}
            <a href="${htmlfile}" target="blank" class="dmodlink">会</a>
          <!--■■■Dモジュールへのリンク終了■■■-->
          `
        return link
      }
      function file_get_contents(filename) {
        fetch(filename).then((resp) => resp.text()).then(function(data) {
          return data;
        });
      }
      function  makeModLink(module_id, xml_file_name, xpath){
        var link = "";
        if (module_id != "" || module_id != null) {
          if (module_id == "gmod") {
            link = getGmodLink(xml_file_name, xpath)
          } else if (module_id == "dmod") {
            link = getDmodlink(xml_file_name, xpath)
          }
        }
        return link;
      }
      $(".soundLink").click(function(){
        console.log($(this).parent(".gmodsound").html());
        $(this).parent(".gmodsound").play()
      })
    </script>
    <style>
      .btn_previous:disabled, .btn_next:disabled{
        background-color: gray;
        color: white;
        border: black;
      }
      .button-area {
        padding-bottom: 40px;
      }
    </style>
  </body>
</html>
