<!doctype html><!-- vmod_detail_kiso : 基礎語彙の学習の詳細ページ -->
<html lang="jp">
<head>
  <%- include('../partials/v_head') %>
</head>
  <body>
  <header><%- include('../partials/header') %></header>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary top-bread">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active"><a href="/voca/<%- lg %>/v/"><%= lang_jp %></a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
          <%- include('../partials/v_sidebar') %>
        <div class="col main">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">語彙詳細</h2>
            </div>
          </div>
          <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb bg-secondary">
                <li class="breadcrumb-item active" aria-current="page"><a href="./catego" class="first-item">基礎語彙の学習</a></li>
                <li class="breadcrumb-item active" aria-current="page">詳細</li>
                <li class="breadcrumb-item active"><a href="" id="UrlToTable"><%= category %></a></li>
              </ol>
            </nav>
            <div class="">
              <p class="float-end"><span id="now_item">今</span>/<span id="all_items"></span>ページ</p>
            </div>
            <div class="container">
              <button type="button" name="button" class="btn btn-outline-primary col-auto btn_previous">　前　</button>
              <button type="button" name="button" class="btn btn-outline-primary col-auto btn_next">　次　</button>
            </div>
            <div class="result-area container">
              <h3 class="text-center targetWord"></h3>
              <hr class="featurette-divider">
              <div class="result-card-area">
              </div>
              <div class="container text-center button-area">
                <button type="button" name="button" class="btn btn-outline-primary col-auto float-start btn_previous">　前　</button>
                <a href="./catego">戻る</a>
                <button type="button" name="button" class="btn btn-outline-primary col-auto float-end btn_next">　次　</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="push"></div>
    <footer><%- include('../partials/footer') %></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      var targetTable = "./catego#<%- category %>"
      window.onload = function(){
        $("#UrlToTable").prop("href", targetTable);
      }
      var targetArray = <%- JSON.stringify(targetObj) %>;
      //console.log(targetArray);
      var targetIndex = "";
      var targetItems;
      $("#all_items").text(targetArray.length)
      for (var i = 0; i < targetArray.length; i++) {
        if (targetArray[i].midasi === "<%= targetWord %>") {
          console.log(targetArray[i].midasi, i);
          targetIndex = i
        }
      }
      showResult(targetIndex)
      $(".btn_previous").click(function(){
        $(".btn_next").prop("disabled", false);
        targetIndex = targetIndex-1
        if (targetIndex >= 0) {
          $(".result-card-area").empty()
          showResult(targetIndex);
        }
      });
      $(".btn_next").click(function(){
        $(".btn_previous").prop("disabled", false);
          targetIndex = targetIndex+1
          if (targetIndex < targetArray.length) {
            $(".result-card-area").empty()
            showResult(targetIndex);
          }
      });
      function showResult(index){
        Number(index)
        $("#now_item").text(index+1);
        var targetItem = {}
        $(".targetWord").text(targetArray[index][0])
        targetItem = targetArray[index][1]
        var num = 1;
        Object.keys(targetItem).forEach((key) => {
          let explain = targetItem[key].imi.replace("＊", "<br>＊")
          $(".result-card-area").append('<p class="explain"><span>（'+num+'）</span>'+explain+'</p>')
          $(".result-card-area").append('<div class="card"><div class="card-header"><h5 class="card-title text-center">＜例文＞</h5></div><div class="card-body examples"></div></div>')
          for (var item of targetItem[key].reibun) {
            $(".examples").append('<p>・'+item.reibun+'</p><p>・'+item.trans+'</p>')
          }
          num+=1;
        });
        switch (index) {
            case 0:
              $(".btn_previous").prop("disabled", true);
              break;
            case targetArray.length-1:
              $(".btn_next").prop("disabled", true);
              break;
          }
          if (targetArray.length === 1) {
            $(".btn_previous").prop("disabled", true);
            $(".btn_next").prop("disabled", true);
          }
      }
      let windowWidth = $(window).width()
      if (windowWidth < 767) {
        $(function(){
          $("#v_sidebar").before($(".main"));
        });
      }
    </script>
    <style>
      .btn_previous:disabled, .btn_next:disabled{
        background-color: gray;
        color: white;
        border: black;
      }
      .button-area {
        padding-bottom: 40px;
      }
    </style>
  </body>
</html>
