<!doctype html>
<html lang="jp">
<head><%- include('../partials/v_head') %></head>
<body>
  <header><%- include('../partials/header') %></header>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active"><a href="./"><%= lang_jp %></a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
        <%- include('../partials/v_sidebar') %>
          <div class="col-lg main">
            <h1>基礎語彙分類表</h1>
            <p>ここでは国立国語研究所の『分類語彙表 増補改訂版』(2004)の分類方法を踏襲しています。 <br>「体の類」は名詞の類、「用の類」は動詞の類、「相の類」は形容詞の類を表します。</p>
            <div class="row">
              <div class="container">
                <div class="form-check form-switch form-check-inline float-end"> <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option2" id="open-jpn" checked> <label for="open-jpn" class="form-check-label">日本語</label> </div>
                <div class="form-check form-switch form-check-inline float-end"> <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option1" id="open-pl" checked> <label for="open-pl" class="form-check-label"><%= lang_jp %></label> </div>
              </div>
            </div>
            <div class="row resultRow">
              <div class="col-sm-6 col-md-4 mb1">
                <div class="card titleBox">
                  <div class="card-header bg-secondary" style="color:white;"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg> <span class="align-middle">1. 体の類</span> </div>
                </div>
                <ul class="list-unstyled list-group first-row">
                  <li class="list-group-item">1.10<a href="#"></a>事柄</li>
                  <li class="list-group-item">1.11<a href="#"></a>類</li>
                  <li class="list-group-item">1.12<a href="#"></a>存在</li>
                  <li class="list-group-item">1.13<a href="#"></a>様相</li>
                  <li class="list-group-item">1.14<a href="#"></a>力</li>
                  <li class="list-group-item">1.15<a href="#"></a>作用</li>
                  <li class="list-group-item">1.16<a href="#"></a>時間</li>
                  <li class="list-group-item">1.17<a href="#"></a>空間</li>
                  <li class="list-group-item">1.18<a href="#"></a>形</li>
                  <li class="list-group-item">1.19<a href="#"></a>量</li>
                </ul>
                <ul class="list-unstyled list-group second-row">
                  <li class="list-group-item">1.20<a href="#"></a>人間</li>
                  <li class="list-group-item">1.21<a href="#"></a>家族</li>
                  <li class="list-group-item">1.22<a href="#"></a>仲間</li>
                  <li class="list-group-item">1.23<a href="#"></a>人物</li>
                  <li class="list-group-item">1.24<a href="#"></a>成員</li>
                  <li class="list-group-item">1.25<a href="#"></a>公私</li>
                  <li class="list-group-item">1.26<a href="#"></a>社会</li>
                  <li class="list-group-item">1.27<a href="#"></a>機関</li>
                </ul>
                <ul class="list-unstyled list-group third-row">
                  <li class="list-group-item">1.30<a href="#"></a>心</li>
                  <li class="list-group-item">1.31<a href="#"></a>言語</li>
                  <li class="list-group-item">1.32<a href="#"></a>芸術</li>
                  <li class="list-group-item">1.33<a href="#"></a>生活</li>
                  <li class="list-group-item">1.34<a href="#"></a>行為</li>
                  <li class="list-group-item">1.35<a href="#"></a>交わり</li>
                  <li class="list-group-item">1.36<a href="#"></a>待遇</li>
                  <li class="list-group-item">1.37<a href="#"></a>経済</li>
                  <li class="list-group-item">1.38<a href="#"></a>事業</li>
                </ul>
                <ul class="list-unstyled list-group forth-row">
                  <li class="list-group-item">1.40<a href="#"></a>物品</li>
                  <li class="list-group-item">1.41<a href="#"></a>資材</li>
                  <li class="list-group-item">1.42<a href="#"></a>衣料</li>
                  <li class="list-group-item">1.43<a href="#"></a>食料</li>
                  <li class="list-group-item">1.44<a href="#"></a>住居</li>
                  <li class="list-group-item">1.45<a href="#"></a>道具</li>
                  <li class="list-group-item">1.46<a href="#"></a>機械</li>
                  <li class="list-group-item">1.47<a href="#"></a>土地利用</li>
                </ul>
                <ul class="list-unstyled list-group fifth-row">
                  <li class="list-group-item">1.50<a href="#"></a>自然</li>
                  <li class="list-group-item">1.51<a href="#"></a>物質</li>
                  <li class="list-group-item">1.52<a href="#"></a>天地</li>
                  <li class="list-group-item">1.53<a href="#"></a>生物</li>
                  <li class="list-group-item">1.54<a href="#"></a>植物</li>
                  <li class="list-group-item">1.55<a href="#"></a>動物</li>
                  <li class="list-group-item">1.56<a href="#"></a>身体</li>
                  <li class="list-group-item">1.57<a href="#"></a>生命</li>
                </ul>
                <ul class="list-unstyled list-group sixth-row">
                  <li class="list-group-item">4.11<a href="#"></a>接続</li>
                  <li class="list-group-item">4.30<a href="#"></a>感動</li>
                  <li class="list-group-item">4.31<a href="#"></a>判断</li>
                  <li class="list-group-item">4.32<a href="#"></a>呼び掛け</li>
                  <li class="list-group-item">4.33<a href="#"></a>挨拶</li>
                  <li class="list-group-item">4.50<a href="#"></a>動物の鳴き声</li>
                </ul>
              </div>
              <div class="col-sm-6 col-md-4 mb1">
                <div class="card titleBox">
                  <div class="card-header bg-secondary" style="color:white;"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                    </svg> <span class="align-middle">2. 用の類</span></div>
                </div>
                <ul class="list-unstyled list-group first-row">
                  <li class="list-group-item">2.10<a href="#"></a>真偽</li>
                  <li class="list-group-item">2.11<a href="#"></a>類</li>
                  <li class="list-group-item">2.12<a href="#"></a>存在</li>
                  <li class="list-group-item">2.13<a href="#"></a>様相</li>
                  <li class="list-group-item">2.14<a href="#"></a>力</li>
                  <li class="list-group-item">2.15<a href="#"></a>作用</li>
                  <li class="list-group-item">2.16<a href="#"></a>時間</li>
                  <li class="list-group-item">2.17<a href="#"></a>空間</li>
                  <li class="list-group-item">2.19<a href="#"></a>量</li>
                </ul>
                <ul class="list-unstyled list-group second-row d-none d-sm-block none">
                  <li class="list-group-item">0.00<a href="#"></a></li>
                  <li class="list-group-item">2.10<a href="#"></a>真偽</li>
                  <li class="list-group-item">2.11<a href="#"></a>類</li>
                  <li class="list-group-item">2.12<a href="#"></a>存在</li>
                  <li class="list-group-item">2.13<a href="#"></a>様相</li>
                  <li class="list-group-item">2.14<a href="#"></a>力</li>
                  <li class="list-group-item">2.15<a href="#"></a>作用</li>
                  <li class="list-group-item">2.16<a href="#"></a>時間</li>
                  <li class="list-group-item none">0.00<a href="#"></a></li>
                </ul>
                <ul class="list-unstyled list-group third-row">
                  <li class="list-group-item">2.30<a href="#"></a>心</li>
                  <li class="list-group-item">2.31<a href="#"></a>言語</li>
                  <li class="list-group-item">2.32<a href="#"></a>芸術</li>
                  <li class="list-group-item">2.33<a href="#"></a>生活</li>
                  <li class="list-group-item">2.34<a href="#"></a>行為</li>
                  <li class="list-group-item">2.35<a href="#"></a>交わり</li>
                  <li class="list-group-item">2.36<a href="#"></a>待遇</li>
                  <li class="list-group-item">2.37<a href="#"></a>経済</li>
                  <li class="list-group-item">2.38<a href="#"></a>事業</li>
                </ul>
                <ul class="list-unstyled list-group forth-row  d-none d-sm-block none">
                  <li class="list-group-item">2.10<a href="#"></a>真偽</li>
                  <li class="list-group-item">2.11<a href="#"></a>類</li>
                  <li class="list-group-item">2.12<a href="#"></a>存在</li>
                  <li class="list-group-item">2.13<a href="#"></a>様相</li>
                  <li class="list-group-item">2.14<a href="#"></a>力</li>
                  <li class="list-group-item">2.15<a href="#"></a>作用</li>
                  <li class="list-group-item">2.16<a href="#"></a>時間</li>
                  <li class="list-group-item none">0.00<a href="#"></a></li>
                </ul>
                <ul class="list-unstyled list-group fifth-row">
                  <li class="list-group-item">2.50<a href="#"></a>自然</li>
                  <li class="list-group-item">2.51<a href="#"></a>物質</li>
                  <li class="list-group-item">2.52<a href="#"></a>天地</li>
                  <li class="list-group-item">2.56<a href="#"></a>身体</li>
                  <li class="list-group-item">2.57<a href="#"></a>生命</li>
                </ul>
                </div>
              <div class="col-sm-6 col-md-4 mb1">
                <div class="card titleBox">
                  <div class="card-header bg-secondary" style="color:white;"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg> <span class="align-middle">3. 相の類</span> </div>
                </div>
                <ul class="list-unstyled list-group first-row">
                  <li class="list-group-item">3.10<a href="#"></a>真偽</li>
                  <li class="list-group-item">3.11<a href="#"></a>類</li>
                  <li class="list-group-item">3.12<a href="#"></a>存在</li>
                  <li class="list-group-item">3.13<a href="#"></a>様相</li>
                  <li class="list-group-item">3.14<a href="#"></a>力</li>
                  <li class="list-group-item">3.15<a href="#"></a>作用</li>
                  <li class="list-group-item">3.16<a href="#"></a>時間</li>
                  <li class="list-group-item">3.17<a href="#"></a>空間</li>
                  <li class="list-group-item">3.18<a href="#"></a>形</li>
                  <li class="list-group-item">3.19<a href="#"></a>量</li>
                </ul>
                <ul class="list-unstyled list-group second-row d-none d-sm-block none">
                  <li class="list-group-item">2.10<a href="#"></a>真偽</li>
                  <li class="list-group-item">2.11<a href="#"></a>類</li>
                  <li class="list-group-item">2.12<a href="#"></a>存在</li>
                  <li class="list-group-item">2.13<a href="#"></a>様相</li>
                  <li class="list-group-item">2.14<a href="#"></a>力</li>
                  <li class="list-group-item">2.15<a href="#"></a>作用</li>
                  <li class="list-group-item">2.16<a href="#"></a>時間</li>
                  <li class="list-group-item none">0.00<a href="#"></a></li>
                </ul>
                <ul class="list-unstyled list-group third-row">
                  <li class="list-group-item">3.30<a href="#"></a>心</li>
                  <li class="list-group-item">3.31<a href="#"></a>言語</li>
                  <li class="list-group-item">3.32<a href="#"></a>芸術</li>
                  <li class="list-group-item">3.33<a href="#"></a>生活</li>
                  <li class="list-group-item">3.34<a href="#"></a>行為</li>
                  <li class="list-group-item">3.35<a href="#"></a>交わり</li>
                  <li class="list-group-item">3.36<a href="#"></a>待遇</li>
                  <li class="list-group-item">3.37<a href="#"></a>経済</li>
                </ul>
                <ul class="list-unstyled list-group forth-row d-none d-sm-block none">
                  <li class="list-group-item none">0.00<a href="#"></a></li>
                  <li class="list-group-item">2.10<a href="#"></a>真偽</li>
                  <li class="list-group-item">2.11<a href="#"></a>類</li>
                  <li class="list-group-item">2.12<a href="#"></a>存在</li>
                  <li class="list-group-item">2.13<a href="#"></a>様相</li>
                  <li class="list-group-item">2.14<a href="#"></a>力</li>
                  <li class="list-group-item">2.15<a href="#"></a>作用</li>
                  <li class="list-group-item">2.16<a href="#"></a>時間</li>
                  <li class="list-group-item none">0.00<a href="#"></a></li>
                </ul>
                <ul class="list-unstyled list-group fifth-row">
                  <li class="list-group-item">3.50<a href="#"></a>自然</li>
                  <li class="list-group-item">3.51<a href="#"></a>物質</li>
                  <li class="list-group-item">3.52<a href="#"></a>天地</li>
                  <li class="list-group-item">3.53<a href="#"></a>生物</li>
                  <li class="list-group-item">3.56<a href="#"></a>身体</li>
                  <li class="list-group-item">3.57<a href="#"></a>生命</li>
                </ul>
              </div>
          </div>
      </div>
    </main>
    <footer><%- include('../partials/footer') %></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(".card-header").click(function(){
        $(this).next(".card-body").slideToggle();
      });
      var word_obj = <%- JSON.stringify(word_obj) %>;
      var bunrui_tai = <%- JSON.stringify(bunrui_tai) %>;
      var bunrui_yo = <%- JSON.stringify(bunrui_yo) %>;
      var bunrui_so = <%- JSON.stringify(bunrui_so) %>;
      var categories = Object.keys(bunrui_tai)
      categories = categories.concat(Object.keys(bunrui_yo))
      categories = categories.concat(Object.keys(bunrui_so))
      var items = {}
    </script>
    <style>
      .none {
        visibility: hidden;
      }
      .titleBox {
        margin-bottom: 10px;;
      }
      .resultRow ul {
        margin-bottom: 10px;
      }
      p {
        margin-bottom: 0px;
      }
      .main {
        padding-bottom: 100px;
      }
    </style>
</body>
</html>
