<!doctype html>
<html lang="jp">
<head>
  <%- include('../partials/v_head') %>
</head>
<body>
  <%- include('../partials/header') %>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active">
              <a href="./">
                <%= lang_jp %>
              </a>
            </li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
        <%- include('../partials/v_sidebar') %>
          <div class="col">
            <h1>基礎語彙分類表</h1>
            <p>ここでは国立国語研究所の『分類語彙表 増補改訂版』(2004)の分類方法を踏襲しています。 <br>「体の類」は名詞の類、「用の類」は動詞の類、「相の類」は形容詞の類を表します。</p>
            <div class="row">
              <div class="container">
                <div class="form-check form-switch form-check-inline float-end"> <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option2" id="open-jpn" checked> <label for="open-jpn" class="form-check-label">日本語</label> </div>
                <div class="form-check form-switch form-check-inline float-end"> <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option1" id="open-pl" checked> <label for="open-pl" class="form-check-label"><%= lang_jp %></label> </div>
              </div>
              <div class="voca_area1 col">
                <div class="vocaBox card">
                  <div class="card-header bg-secondary" style="color:white;"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg> <span class="align-middle">1. 体の類</span> </div>
                </div>
                <div id="resultArea1">
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.10　事柄</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.11　類</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.12　存在</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.13　様相</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.14　力</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.15　作用</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.16　時間</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.17　空間</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.18　形</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.19　量</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.20　人間</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.21　家族</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.22　仲間</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.23　人物</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.24　成員</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.25　公私</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.26　社会</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.27　機関</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.30　心</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.31　言語</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.32　芸術</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.33　生活</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.34　行為</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.35　交わり</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.36　待遇</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.37　経済</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.38　事業</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.40　物品</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.41　資材</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.42　衣料</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.43　食料</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.44　住居</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.45　道具</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.46　機械</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.47　土地利用</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.50　自然</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.51　物質</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.52　天地</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.53　生物</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.54　植物</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.55　動物</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.56　身体</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">1.57　生命</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">4.11　接続</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">4.30　感動</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">4.31　判断</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">4.32　呼び掛け</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">4.33　挨拶</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">4.50　動物の鳴き声</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="voca_area2 col">
                <div class="vocaBox card">
                  <div class="card-header bg-secondary" style="color:white;"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg> <span class="align-middle">2. 用の類</span> </div>
                </div>
                <div id="resultArea2">
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.10　真偽</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.11　類</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.12　存在</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.13　様相</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.14　力</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.15　作用</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.16　時間</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.17　空間</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.19　量</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.30　心</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.31　言語</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.32　芸術</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.33　生活</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.34　行為</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.35　交わり</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.36　待遇</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.37　経済</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.38　事業</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.50　自然</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.51　物質</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.52　天地</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.56　身体</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">2.57　生命</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="voca_area2 col">
                <div class="vocaBox card">
                  <div class="card-header bg-secondary" style="color:white;"> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg> <span class="align-middle">3. 相の類</span> </div>
                </div>
                <div id="resultArea3">
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.10　真偽</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.11　類</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.12　存在</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.13　様相</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.14　力</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.15　作用</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.16　時間</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.17　空間</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.18　形</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.19　量</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.30　心</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.31　言語</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.33　生活</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.34　行為</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.35　交わり</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.36　待遇</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.37　経済</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.50　自然</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.51　物質</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.52　天地</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.53　生物</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.56　身体</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                  <div class="vocaBox card" id="">
                    <div class="card-header">3.57　生命</div>
                    <div class="card-body">
                      <p class="float-end"><span class="c_cand"></span>件</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      /*
      //詳細へのリンク
      jQuery(function($){
        $('tr[data-href]').addClass('clickable')
        .click(function(e) {
          if(!$(e.target).is('a')){
            var targetUrl = ($(e.target).parents('.card').attr("id"))
            var targetPl = ($(e.target).closest('tr').find(".t_pl").text())
            var targetJp = ($(e.target).closest('tr').find(".t_jpn").text())
            var url = $(e.target).closest('tr').data('href')
            var targetData = '<input type="hidden" name="category" value="' + targetUrl + '" /><input type="hidden" name="pl_word" value="' + targetPl + '" />'
            $("body").append('<form action="'+url+'" method="post" id="post">'+targetData+'</form>');
            $("#post").submit();
          };
        });
      });
      window.onload = function(){
        var hash = decodeURI(location.hash.substring(1));
        if (hash.length === 0) {
          ;
        } else{
          $("#"+hash).children(".card-body").slideToggle();
        }
      }
      window.onpageshow = function(event) {
         if (event.persisted) {
             window.location.reload();
          }
      };
      //表示切り替え
      $("#open-jpn").change(function() {
        if ($(this).prop("checked") == false) {
          $(".t_jpn").css("visibility", "hidden");
        } else {
          $(".t_jpn").css("visibility", "visible");
        }
      });
      $("#open-pl").click(function() {
        if ($(this).prop("checked") == false) {
          $(".t_pl").css("visibility", "hidden");
        } else {
          $(".t_pl").css("visibility", "visible");
        }
      });
                  */
    </script>
    <style>
      tr {
        cursor:pointer;
      }
      .card {
        min-width: 320px;
      }
      .card-body {
        overflow-x: hidden;
        overflow-y: scroll;
        height:fit-content;
        max-height: 300px;
      }
      p {
        margin-bottom: 0px;
      }
    </style>
  </body>
</html>
