<!doctype html>
<html lang="jp">
<head>
  <%- include('../partials/v_head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="container main">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary top-bread">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active"><a href="/voca/<%- lg %>/v/"><%= lang_jp %></a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
          <%- include('../partials/v_sidebar') %>
        <div class="col-lg main-body">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">利用の手引き</h4>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <p class="card-title">「基礎語彙の学習」</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                場面と意味分類による単語の学習ができます。
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <p class="card-title">分類語彙表検索</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                『分類語彙表』に基づいて語彙を様々な項目に意味分類し、類義語集（シソーラス）として検索できるようにしました。
              </p>
            </div>
          </div>
          <div class="card" id="lastcard">
            <div class="card-header">
              <p class="card-title">検索</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                <strong>「文字検索」</strong><br>
                頭文字による語彙の検索ができます。<br>
                <br>
                <strong>「単語検索」</strong><br>
                前方、後方、完全一致またはあいまい検索が可能です。<br>
                <hr class="dothr">
                前方一致：[a] で検索　→　[<span class="text-decoration-underline">a</span>pple] や [<span class="text-decoration-underline">a</span>pricot] などを検索できます。<br>
                後方一致：[a] で検索　→　[banan<span class="text-decoration-underline">a</span>] や [guav<span class="text-decoration-underline">a</span>] などを検索できます。<br>
                あいまい検索：[ra] で検索　→　[g<span class="text-decoration-underline">ra</span>pe] や [o<span class="text-decoration-underline">ra</span>nge] などを検索できます。</td>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="push"></div>
    <footer><%- include('../partials/footer') %></footer>
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script type="text/javascript">
      let windowWidth = $(window).width()
      if (windowWidth < 767) {
        $(function(){
          $("#v_sidebar").before($(".main-body"));
        });
      }
      </script>
      <style>
        @media screen and (min-width: 1200px) {
          .sidebar {
            height: 100vh;
          }
        }
        .dothr {
          border: none;
          border-top: 1px dotted;
        }
      </style>
</body>
</html>
