<!doctype html>
<html lang="jp">
<head>
  <%- include('../partials/v_head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="container main">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary top-bread">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active"><a href="/voca/<%- lg %>/v/"><%= lang_jp %></a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
          <%- include('../partials/v_sidebar') %>
        <div class="col-lg main-body">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">TOPページ</h2>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <p class="card-title"><span>■</span>対象者・目的</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                語彙モジュールは、初級の学習者を対象とし、基本的な語彙の整理と理解を目的にしています。
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <p class="card-title"><span>■</span>基本的な語彙の定義</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                日本語能力試験4級の基礎語彙をもとに各言語に特徴的な語彙が加えられています。
                おおよそ700語から900語を収録してあります。
                語彙の意味分類には国立国語研究所の『分類語彙表』を参考にしています。
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <p class="card-title"><span>■</span>学習方法</p>
            </div>
            <div class="card-body">
              <p class="card-text">
                「例文検索」と「語彙モジュール」の２つのコースを用意しています。<br>
                「例文検索」では、日本語とポーランド語の対訳例文を両言語から検索することができます。例文には、各言語の形ワードスペースをつかったトークン化の結果が付属しています。<br>
                「語彙モジュール」では、「基礎語彙分類表」で基本的な語彙を分類ごとに学習できます。語彙は文字入力で検索することも可能です。
                検索結果は分類表にリンクしています。
              </p>
            </div>
          </div>
          <div class="card" id="lastcard">
            <div class="card-header">
              <p class="card-title"><span>■</span>参考文献</p>
            </div>
            <div class="card-body">
              <p class="card-text" id="plane">
                浅井千紗子 (2004) 「基礎語彙と英語」『言語情報学研究報告１　TUFS言語モジュール』、<br>
                21世紀COEプログラム「言語運用を基盤とする言語情報学拠点」、東京外国語大学大学院地域文化研究科、pp.183-191.<br>
                石井米雄・千野栄一編 (2004) 『世界のことば・出会いの表現辞典』三省堂.<br>
                国際交流基金、日本国際教育協会 (1994) 『日本語能力試験出題基準』(改訂版)、凡人社.<br>
                国立国語研究所(編) (2004) 『分類語彙表 増補改訂版』、大日本図書.<br>
                「分類語彙表増補改訂版」データベース　<a href="http://pj.ninjal.ac.jp/corpus_center/goihyo.html">http://pj.ninjal.ac.jp/corpus_center/goihyo.html</a><br>
                望月正道、相澤一美、投野由紀夫 (2003) 『英語語彙の指導マニュアル』、大修館書店.<br>
              </p>
              <p class="card-text hidden" id="ja">
                国際交流基金、日本国際教育協会 (1994) 『日本語能力試験出題基準』(改訂版)、凡人社.<br>
                国立国語研究所(編) (2004) 『分類語彙表 増補改訂版』、大日本図書.<br>
                「分類語彙表増補改訂版」データベース　<a href="http://pj.ninjal.ac.jp/corpus_center/goihyo.html">http://pj.ninjal.ac.jp/corpus_center/goihyo.html</a><br>
                望月正道、相澤一美、投野由紀夫 (2003) 『英語語彙の指導マニュアル』、大修館書店.<br>
              </p>
              <div class="ms_zone">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="push"></div>
    <footer><%- include('../partials/footer') %></footer>
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script type="text/javascript">
        let arry = <%- JSON.stringify(vmod_ms1) %>
        let a_tag;
        let arry_ulr = <%- JSON.stringify(vmod_ms1_url) %>;
        $(function(){
          if ("<%= lang_jp %>"==="ja") {
            $("#plane").addClass("hidden");
            $("#ja").removeClass("hidden");
          }
        }
        for (var i = 0; i < arry.length; i++) {
          if (i in arry_ulr) {
            a_tag = "<a href="+arry_ulr[String(i)]+">"+arry_ulr[String(i)]+"</a>"
          } else {
            a_tag = ""
          }
          $(".ms_zone").append(arry[i]+a_tag+"<br>")
        }
        let windowWidth = $(window).width()
        if (windowWidth < 767) {
          $(function(){
            $("#v_sidebar").before($(".main-body"));
          });
        }
      </script>
      <style>
        .hidden {
          display: none;
        }

      </style>
</body>
</html>
