<!doctype html>
<html lang="jp">
  <head>
    <%- include('../partials/v_head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary">
            <li class="breadcrumb-item"><a href="/voca/" class="first-item">東外大言語モジュール top(Node版)</a></li>
            <li class="breadcrumb-item active"><a href="./"><%= lang_jp %></a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
          </ol>
        </nav>
        <%- include('../partials/v_sidebar') %>
        <div class="col">
          <h1>基礎語彙分類表</h1>
          <p>ここでは国立国語研究所の『分類語彙表 増補改訂版』(2004)の分類方法を踏襲しています。
            <br>「体の類」は名詞の類、「用の類」は動詞の類、「相の類」は形容詞の類を表します。</p>
          <div class="row">
            <div class="container">
              <div class="form-check form-switch form-check-inline float-end">
                <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option2" id="open-jpn" checked>
                <label for="open-jpn" class="form-check-label">日本語</label>
              </div>
              <div class="form-check form-switch form-check-inline float-end">
                <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option1" id="open-pl" checked>
                <label for="open-pl" class="form-check-label"><%= lang_jp %></label>
              </div>
            </div>
            <div class="voca_area1 col">
              <div class="vocaBox card">
                <div class="card-header bg-secondary" style="color:white;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg>
                  <span class="align-middle">1. 体の類</span>
                </div>
              </div>
              <div id="resultArea1">
              </div>
            </div>
            <div class="voca_area2 col">
              <div class="vocaBox card">
                <div class="card-header bg-secondary" style="color:white;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg>
                  <span class="align-middle">2. 用の類</span>
                </div>
              </div>
              <div id="resultArea2">
              </div>
            </div>
            <div class="voca_area2 col">
              <div class="vocaBox card">
                <div class="card-header bg-secondary" style="color:white;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg>
                  <span class="align-middle">3. 相の類</span>
                </div>
              </div>
              <div id="resultArea3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer><%- include('../partials/footer') %></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      var category1 = <%- JSON.stringify(category_b1) %>;
      var category2 = <%- JSON.stringify(category_b2) %>;
      var category3 = <%- JSON.stringify(category_b3) %>;
      var vocab_obj_b = <%- JSON.stringify(vocab_obj_b) %>;
      //
      function makeTable(category_li, areaName) {
        var name = "#"+areaName
        category_li.forEach((category) => {
          $(name).append('<div class="vocaBox card" id='+category+'></div>')
          var id = "#"+category
          var c_label;
          switch (areaName){
            case 'resultArea1':
            c_label = category.replace('_体', '')
            break;
            case 'resultArea2':
            c_label = category.replace('_用', '')
            break;
            case 'resultArea3':
            c_label = category.replace('_相', '')
          }
          $(id).append('<div class="card-header">'+c_label+'</div>')
          $(id).append('<div class="card-body"><p class="float-end"><span class="c_cand"></span>件</p><table class="table table-hover"><tbody></tobdy<table></div>')
          vocab_obj_b[category].forEach((item) => {
              $(id).children(".card-body").find("tbody").append('<tr class="pl" data-href="./detail"><td class="t_pl">'+item[0]+'</td><td class="t_jpn">'+item[1]+'</td></tr>')
              $(id).children(".card-body").find(".c_cand").text(vocab_obj_b[category].length)
          });
          $(name).find($(id)).children(".card-header").click(function(){
            $(name).find($(id)).children(".card-body").slideToggle();
          });
        });
      }
      //boxと中身作成1
      makeTable(category1, "resultArea1");
      //boxと中身作成2
      makeTable(category2, "resultArea2");
      //boxと中身作成3
      makeTable(category3, "resultArea3");

      //詳細へのリンク
      jQuery(function($){
        $('tr[data-href]').addClass('clickable')
        .click(function(e) {
          if(!$(e.target).is('a')){
            var targetUrl = ($(e.target).parents('.card').attr("id"))
            var targetPl = ($(e.target).closest('tr').find(".t_pl").text())
            var targetJp = ($(e.target).closest('tr').find(".t_jpn").text())
            var url = $(e.target).closest('tr').data('href')
            var targetData = '<input type="hidden" name="category" value="' + targetUrl + '" /><input type="hidden" name="pl_word" value="' + targetPl + '" />'
            $("body").append('<form action="'+url+'" method="post" id="post">'+targetData+'</form>');
            $("#post").submit();
          };
        });
      });
      window.onload = function(){
        var hash = decodeURI(location.hash.substring(1));
        if (hash.length === 0) {
          ;
        } else{
          $("#"+hash).children(".card-body").slideToggle();
        }
      }
      window.onpageshow = function(event) {
         if (event.persisted) {
             window.location.reload();
          }
      };
      //表示切り替え
      $("#open-jpn").change(function() {
        if ($(this).prop("checked") == false) {
          $(".t_jpn").css("visibility", "hidden");
        } else {
          $(".t_jpn").css("visibility", "visible");
        }
      });
      $("#open-pl").click(function() {
        if ($(this).prop("checked") == false) {
          $(".t_pl").css("visibility", "hidden");
        } else {
          $(".t_pl").css("visibility", "visible");
        }
      });
    </script>
    <style>
      tr {
        cursor:pointer;
      }
      .card {
        min-width: 320px;
      }
      .card-body {
        overflow-x: hidden;
        overflow-y: scroll;
        height:fit-content;
        max-height: 300px;
      }
      p {
        margin-bottom: 0px;
      }
    </style>
  </body>
</html>
