<!doctype html>
<html lang="jp">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
     <%- include('partials/header'); %>
    <main>
      <div class="container">
        <h1>日本語・中国語対訳例文検索</h1>
        <div class="card">
          <div class="card-header">
            <h4 class="card-title text-center">このサイトについて</h4>
          </div>
          <div class="card-body">
            <p class="card-text text-center">このサイトでは、日本語と中国語語の対訳付き例文を検索することができます</p>
            <p class="card-text text-center">検索した単語を含む例文を、形態素解析結果と合わせて表示します。</p>
            <p class="card-text text-center">検索は日本語と中国語の両方から行うことができます。</p>
            <p class="card-text"><strong>使用方法</strong></p>
            <ol>
              <li>タブで検索言語を選択します（日本語・中国語語）<strong>*デフォルト・リセット後は未選択になります</strong></li>
              <li>選択した言語で検索バーにキーワードを入力します</li>
              <li>検索をクリックすると、検索結果の件数と検索結果が表示されます</li>
              <p>検索結果は、上から「日本語訳」「中国語」「中国語の形態素解析結果」となります</p>
            </ol>
            <p class="card-text"><strong>＊次の語を検索する時、言語を変更する時は必ず「リセット」ボタンをクリックしてください</strong></p>
            <p class="card-text float-end">更新日時：2022.09.21</p>
          </div>
        </div>
        <div class="container">
          <div class="tab_box">
	           <div class="btn_area">
               <button type="button" class="btn tab_btn active" id="defo-tab">言語選択：</button>
               <button type="button" class="btn tab_btn" id="jp-tab">日本語（日文）</button>
               <button type="button" class="btn tab_btn" id="pl-tab">中国語（中文）</button>
             </div>
             <div class="panel_area container" id="tab-area">
               <div class="tab_panel active" id="defo-panel">
                 <p>言語を選択してください</p>
                 <div class="row nondisplay">
                   <div class="col-7">
                      <input type="text" class="form-control col-auto">
                    </div>
                    <div class="col-3">
                      <button class="btn btn-outline-primary col-auto"></button>
                    </div>
                 </div>
               </div>
               <div class="tab_panel">
                 <p>日本語で入力してください（用日语输入）</p>
                 <div class="row">
                   <div class="col-7">
                      <input type="text" class="form-control col-auto" id="keyword_jp">
                    </div>
                    <div class="col-3">
                      <button class="btn btn-outline-primary col-auto" id="search-btn-jp">検索</button>
                    </div>
                 </div>
               </div>
               <div class="tab_panel">
                 <p>请用中文输入（中国語で入力してください）</p>
                 <div class="row">
                   <div class="col-7">
                      <input type="text" class="form-control col-auto" id="keyword">
                    </div>
                    <div class="col-3">
                      <button class="btn btn-outline-primary col-auto" id="search-btn">検索</button>
                    </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="search-result-area">
             <div class="row container">
               <div class="col">
                 <h4>検索結果：<span id="howmany-cand">0</span>件</h4>
               </div>
               <div class="col float-end">
                 <button class="btn btn-outline-primary" id="reset-btn">リセット</button>
               </div>
               <div class="container">
                 <div class="form-check form-switch form-check-inline float-end">
                   <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option1" id="open-chs" checked>
                   <label for="inlineRadio1" class="form-check-label">中国語</label>
                 </div>
                 <div class="form-check form-switch form-check-inline float-end">
                   <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option2" id="open-jpn" checked>
                   <label for="inlineRadio2" class="form-check-label">日本語</label>
                 </div>
               </div>
             </div>
             <div class="result-table container">
               <div class="card">
                 <ul class="list-group list-group-flush" id="result">
                 </ul>
               </div>
             </div>
           </div>
        </div>
      </div>
    </main>
    <%- include('partials/footer'); %>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      //タブ作成
      $('.tab_box .tab_btn').click(function() {
        var index = $('.tab_box .tab_btn').index(this);
        $('.tab_box .tab_btn, .tab_box .tab_panel').removeClass('active');
        $(this).addClass('active');
        $('.tab_box .tab_panel').eq(index).addClass('active');
      });
      //データ読み込み
      var words_jp = <%- JSON.stringify(words_jp) %>;
      var words_chs = <%- JSON.stringify(words_chs) %>;
      var morp_list_jp = <%- JSON.stringify(morp_list_jp) %>;
      var morp_list_chs = <%- JSON.stringify(morp_list_chs) %>;
      var morp_set_jp = <%- JSON.stringify(morp_set_jp) %>;
      var morp_set_chs = <%- JSON.stringify(morp_set_chs) %>;
      var targetIndexes = [];

      //オートコンプリート_chinese
      $(function() {
        $("#keyword").autocomplete({
          source: function(request, response) {
            var list = [];
            list = morp_set_chs.filter(function (word) {
              return word.indexOf(request.term) === 0 || word.toLowerCase().indexOf(request.term) === 0;
            });
            response(list);
          },
        });
      });
      //オートコンプリート_jpn
      $(function() {
        $("#keyword_jp").autocomplete({
          source: function(request, response) {
            var list = [];
            list = morp_set_jp.filter(function (word) {
              return word.indexOf(request.term) === 0 || word.toLowerCase().indexOf(request.term) === 0;
            });
            response(list);
          },
        });
      });
      //検索ボタン挙動
      function searchResult(ky, list){
        var targetWord = $(ky).val();
        list.forEach((item, i) => {
          if(item.includes(targetWord)){
            targetIndexes.push(i)
          }
        });
      }
      function clickSearchBtn(){
        if (targetIndexes.length === 0) {
          ;
        }
        $.each(targetIndexes, function(){
          $("#result").append('<li class="list-group-item" id='+this+"></li>")
          var id = "#"+this;
          $(id).append('<h6 class="t_jpn">'+words_jp[this]+"</h6>")
          var jpn = morp_list_jp[this].join(" / ");
          $(id).append('<p>'+jpn+"</p>")
          $(id).append('<h6 class="t_chs">'+words_chs[this]+"</h6>")
          var chs = morp_list_chs[this].join(" / ");
          $(id).append('<p>'+chs+"</p>")
        });
        $("#howmany-cand").text(targetIndexes.length)
        $(function(){
          $('#result').paginathing({
            perPage: 10, // show item per page
            limitPagination: false, // false or number. Limiting your pagination number.
            prevNext: true, // enable previous and next button
            firstLast: true, // enable first and last button
            prevText: '&laquo;', // Previous button text
            nextText: '&raquo;', // Next button text
            firstText: 'First', // "First button" text
            lastText: 'Last', // "Last button" text
            activeClass: 'act',
          });
        });
      }
      $(".btn_area").find("button").click(function(){
        if($("#pl-tab").attr("class") === "btn tab_btn active"){
          $("#search-btn").click(function(){
            searchResult(keyword, morp_list_chs);
            if ($("#howmany-cand").text() === "0") {
              clickSearchBtn();
            } else{
              ;
            }
          });
        }else if($("#jp-tab").attr("class") === "btn tab_btn active"){
          $("#search-btn-jp").click(function(){
            searchResult(keyword_jp, morp_list_jp);
            if ($("#howmany-cand").text() === "0") {
              clickSearchBtn();
            } else{
              ;
            }
          });
        }
      });
      //リセットボタン
      $(function (){
        $("#reset-btn").on("click", function(){
          clearFrom();
        });
        function clearFrom() {
          $(".pagination-container").remove();
          $(".tab_btn").removeClass("active");
          $("#defo-tab").toggleClass("active");
          $(".tab_panel").removeClass("active");
          $("#defo-panel").toggleClass("active");
          $("#keyword").val("");
          $("#keyword_jp").val("");
          $("#result").empty();
          $("#howmany-cand").text("0");
          targetIndexes = []
        }
      });
      //表示切り替え
      $("#open-jpn").change(function() {
        if ($(this).prop("checked") == false) {
          $(".t_jpn").css("visibility", "hidden");
        } else {
          $(".t_jpn").css("visibility", "visible");
        }
      });
      $("#open-chs").click(function() {
        if ($(this).prop("checked") == false) {
          $(".t_chs").css("visibility", "hidden");
        } else {
          $(".t_chs").css("visibility", "visible");
        }
      });
    </script>
  </body>
</html>
