<!doctype html>
<html lang="jp">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
    <main class="container">
      <div class="row">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb bg-secondary">
          <li class="breadcrumb-item"><a href="/" class="first-item">東外大言語モジュール top</a></li>
          <li class="breadcrumb-item active"><a href=""><%= lang_jp %></a></li>
        </ol>
      </nav>
      <%- include('../partials/sidebar'); %>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title"><%= lang %></h2><span class="float-end"><%= lang_jp %></span>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <p class="card-title"><%= lang_jp %>の使用地域と人口</p>
          </div>
          <div class="card-body">
            <p class="card-text"><%= message1 %></p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <p class="card-title">ここで学ぶ<%= lang_jp %></p>
          </div>
          <div class="card-body">
            <p class="card-text"><%= message2 %></p>
          </div>
        </div>
      </div>
      </div>
      <p class="text-center"><< 利用したい教材モジュールを選択してください</p>
  </main>
  <footer><%- include('../partials/footer') %></footer>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
