<!doctype html><!-- vmod_detail : 分類表の詳細ページ -->
<html lang="jp">
  <head>
    <% const ROOT = `${process.cwd()}`; %>
    <%- include(`${ROOT}/views/partials/head`) %>
  </head>
  <body>
    <%- include(`${ROOT}/views/partials/header`); %>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary">
            <li class="breadcrumb-item"><a href="/polish" class="first-item">ポーランド語</a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
            <li class="breadcrumb-item active"><a href="/vmod_table">基礎語彙分類表</a></li>
            <li class="breadcrumb-item active" aria-current="page">詳細</li>
          </ol>
        </nav>
        <%- include(`${ROOT}/views/partials/sidebar`); %>
        <div class="col">
          <h1>語彙詳細</h1>
          <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb bg-secondary">
                <li class="breadcrumb-item active first-item"><a href="/vmod_table">分類表</a></li>
                <li class="breadcrumb-item active" aria-current="page">語彙詳細</li>
                <li class="breadcrumb-item active"><a href="" id="UrlToTable"><%= category %></a></li>
                <li class="breadcrumb-item active"><strong class="pl_word"></strong></li>
              </ol>
            </nav>
            <div class="container">
              <p class="float-end"><span id="now_item">今</span>/<span id="all_items"></span>ページ</p>
            </div>
            <div class="result-area container">
              <h3 class="text-center pl_word"></h3>
              <hr class="featurette-divider">
              <h5>・<span></span></h5>
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title text-center">＜例文＞</h5>
                </div>
                <div class="card-body">
                </div>
              </div>
              <div class="container text-center">
                <button type="button" name="button" class="btn btn-outline-primary col-auto float-start" id="btn_previous">　前　</button>
                <a href="/vmod_table">戻る</a>
                <button type="button" name="button" class="btn btn-outline-primary col-auto float-end" id="btn_next">　次　</button>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include(`${ROOT}/views/partials/footer`); %>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      var targetTable = "vmod_table#<%- category %>"
      window.onload = function(){
        $("#UrlToTable").prop("href", targetTable);
      }
      var data1 = <%- JSON.stringify(data1) %>;
      var word_list = Object.entries(data1)
      var targetList = [];
      var targetIndexes = [];
      var targetIndex = "";
      word_list.forEach((item) => {
        if (item[0] === "<%- category %>") {
          //console.log(item[1])
          $("#all_items").text(item[1].length)
          targetList = item[1];
        }
      });
      targetList.forEach((item, i) => {
        if(item[4][0] === "<%- pl_word %>"){
          targetIndex = i
        }
      });
      showResult(targetIndex);
      $("#btn_previous").click(function(){
        $("#btn_next").prop("disabled", false);
        targetIndex = targetIndex-1
        if (targetIndex >= 0) {
          targetIndexes = []
          targetIndexes.push(targetIndex)
          $(".card-body").empty()
          showResult(targetIndex);
        }
      });
      $("#btn_next").click(function(){
        $("#btn_previous").prop("disabled", false);
          targetIndex = targetIndex+1
          if (targetIndex < targetList.length) {
            targetIndexes = []
            targetIndexes.push(targetIndex)
            $(".card-body").empty()
            showResult(targetIndex);
          }
      });
      function showResult(index){
        let num = 1
        $("#now_item").text(index+1);
        $(".pl_word").text(targetList[index][4][0])
        $(".result-area").children("h5").find('span').text(targetList[index][4][1])
        var pl_exam = targetList[index][0].join(" ")
        $(".card-body").append('<h5>'+pl_exam+'</h5')
        var pl_morph = targetList[index][1].join(" / ")
        $(".card-body").append('<p>'+pl_morph+'</p')
        var jpn_exam = targetList[index][2].join(" ")
        $(".card-body").append('<h5>'+jpn_exam+'</h5>')
        var jpn_morph = targetList[index][3].join(" / ")
        $(".card-body").append('<p>'+jpn_morph+'</p')
        switch (index) {
          case 0:
            $("#btn_previous").prop("disabled", true);
            break;
          case targetList.length-1:
            $("#btn_next").prop("disabled", true);
            break;
        }
        if (targetList.length === 1) {
          $("#btn_previous").prop("disabled", true);
          $("#btn_next").prop("disabled", true);
        }
      }
    </script>
  </body>
</html>
