<!doctype html><!-- vmod_search: 基礎語彙検索 -->
<html lang="jp">
  <head>
    <% const ROOT = `${process.cwd()}`; %>
    <%- include(`${ROOT}/views/partials/head`) %>
  </head>
  <body>
    <%- include(`${ROOT}/views/partials/header`); %>
    <main class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb bg-secondary">
            <li class="breadcrumb-item"><a href="/polish" class="first-item">ポーランド語</a></li>
            <li class="breadcrumb-item active">語彙モジュール</li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/vmod_search">検索(日・ポ)</a></li>
          </ol>
        </nav>
        <%- include(`${ROOT}/views/partials/sidebar`); %>
        <div class="col">
            <h1>基礎語彙検索（日・ポ）</h1>
            <div class="explain">
              <ol>
                <li>検索したい言語をタブで選択する</li>
                <li>「検索」をクリックする</li>
              </ol>
              <p>*結果は「ポーランド語」「日本語」「分類」に分かれています（分類は「基礎語彙分類表」に準拠）</p>
              <p><strong>＊次の単語を検索する時は必ず「リセット」をクリックしてください</strong></p>
              <p><strong>＊前方、後方、完全一致またはあいまい検索が可能です。</strong><br>
                 　前方一致：[a] で検索　→　[apple] や [apricot] などを検索できます。<br>
                 　後方一致：[a] で検索　→　[banana] や [guava] などを検索できます。<br>
                 　あいまい検索：[ra] で検索　→　[grape] や [orange] などを検索できます。</p>
            </div>
            <div class="tab_box">
  	           <div class="btn_area">
                 <button type="button" class="btn tab_btn active" id="defo-tab">検索</button>
               </div>
               <div class="panel_area container" id="tab-area">
                 <div class="tab_panel active" id="defo-panel">
                   <div class="search-type-select">
                     <div class="form-check-inline float-end">
                       <input class="form-check-input search-type" type="radio" name="flexRadioDefault" id="search-type3">
                       <label for="search-type3" class="form-check-label">あいまい検索</label>
                     </div>
                     <div class="form-check-inline float-end">
                       <input class="form-check-input search-type" type="radio" name="flexRadioDefault" id="search-type2">
                       <label for="search-type2" class="form-check-label">後方一致</label>
                     </div>
                     <div class="form-check-inline float-end">
                       <input class="form-check-input search-type" type="radio" name="flexRadioDefault" id="search-type1" checked>
                       <label for="search-type1" class="form-check-label">前方一致</label>
                     </div>
                   </div>
                   <p>単語を入力してください　　 候補：<span id="inputCand">0</span>件</p>
                   <div class="row">
                     <div class="col-7">
                        <input type="text" class="form-control col-auto" id="keyword">
                      </div>
                      <div class="col-3">
                        <button class="btn btn-outline-primary col-auto" id="search-btn">検索</button>
                      </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="search-result-area container">
               <div class="row">
                 <div class="col">
                   <h4>検索結果</h4>
                 </div>
                 <div class="col float-end">
                   <button class="btn btn-outline-primary" id="reset-btn">リセット</button>
                 </div>
                 <div class="container">
                   <div class="form-check form-switch form-check-inline float-end">
                     <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option2" id="open-jpn" checked>
                     <label for="inlineRadio2" class="form-check-label">日本語</label>
                   </div>
                   <div class="form-check form-switch form-check-inline float-end">
                     <input type="checkbox" class="form-check-input" name="inlineRadioOptions" role="switch" value="option1" id="open-pl" checked>
                     <label for="inlineRadio1" class="form-check-label">ポーランド語</label>
                   </div>
                   <div class="result-table container row">
                     <div class="card" id="result">
                       <table class="table table-borderless table-striped text-center">
                         <thead class="">
                           <tr class="border-bottom bg-light">
                             <th scope="col">ポーランド語</th>
                             <th scope="col">日本語</th>
                             <th scope="col">分類</th>
                           </tr>
                         </thead>
                         <tbody>
                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
        </div>
      </div>
      </main>
      <footer><%- include(`${ROOT}/views/partials/footer`); %></footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      var vocab_obj_b = <%- JSON.stringify(vocab_obj_b) %>;
      var vocab_obj_k1 = <%- JSON.stringify(vocab_obj_k1) %>;
      var vocab_obj_k2 = <%- JSON.stringify(vocab_obj_k2) %>;
      var vocab_objs = Object.assign(vocab_obj_b, vocab_obj_k1, vocab_obj_k2)
      var categories = <%- JSON.stringify(category) %>;
      var words_list = [];
      var targetItems = []
      var targetURL = "";
      var url = "";
      var numbers = "";
      for (w in vocab_objs){
        vocab_objs[w].forEach((item) => {
          words_list.push(item[0])
          words_list.push(item[1])
        });
      }
      words_list = [...new Set(words_list)];
      function getRandomStr() {
         var result = Math.random().toString(36).slice(-8);
          return result;
        }
      //検索タイプ設定
      $(".search-type").change(function(){
        if ($(this).attr("id") === "search-type1") { //前方一致
          $(function() {
            $("#keyword").autocomplete({
              source: function(request, response) {
                var list = [];
                list = words_list.filter(function (word) {
                  return word.indexOf(request.term) === 0 || word.toLowerCase().indexOf(request.term) === 0;
                });
                response(list);
                $("#inputCand").text(list.length)
              },
            });
          });
        }else if ($(this).attr("id") === "search-type3") { //あいまい検索
          $(function() {
            $("#keyword").autocomplete({
              source: function(request, response) {
                var list = [];
                list = words_list.filter(function (word) {
                  return word.indexOf(request.term) != -1 || word.toLowerCase().indexOf(request.term) != -1;
                });
                response(list);
                $("#inputCand").text(list.length)
              },
            });
          });
        } else if ($(this).attr("id") === "search-type2") { //後方一致
          $(function() {
            $("#keyword").autocomplete({
              source: function(request, response) {
                var randamStr = getRandomStr();
                var list = [];
                list = words_list.filter(function (word) {
                  var str = word+randamStr
                  return str.indexOf(+request.term+randamStr) !== -1 || str.toLowerCase().indexOf(request.term+randamStr) !== -1;
                });
                response(list);
                $("#inputCand").text(list.length)
              },
            });
          });
        }
      });
      //オートコンプリート（デフォルト）
      $(function() {
        $("#keyword").autocomplete({
          source: function(request, response) {
            var list = [];
            list = words_list.filter(function (word) {
              return word.indexOf(request.term) === 0 || word.toLowerCase().indexOf(request.term) === 0;
            });
            response(list);
            $("#inputCand").text(list.length)
          },
        });
      });

      $("#keyword").keyup(function(){
        if($("#keyword").val().length === 0){
          $("#inputCand").text("0")
        }
      });
      var category = ""
      //検索ボタン
      function ja2Bit ( str ) {
        return ( str.match(/^[\u30a0-\u30ff\u3040-\u309f\u3005-\u3006\u30e0-\u9fcf]+$/) )? true : false
      }
      $("#search-btn").click(function(){
        if ($(".t_pl").text() != "") {
           ;
        } else {
          var targetWord = $("#keyword").val();
          if (targetWord === "") {
            swal({
              text: "単語を入力してください"
　           });
          } else if (targetWord.length > 0) {
            var targetItem;
            if (ja2Bit(targetWord) == true) { //日本語の場合
              for (c in vocab_objs){
                vocab_objs[c].forEach((item) => {
                  if(item[1] === targetWord){
                    targetItem = item;
                    targetItem.push(c)
                    targetItems.push(targetItem)
                    targetItem = []
                  }
                });
              }
            }else if (ja2Bit(targetWord) == false) { //アルファベットの場合
              for (c in vocab_objs){
                vocab_objs[c].forEach((item) => {
                  if(item[0] === targetWord){
                    targetItem = item;
                    targetItem.push(c)
                    targetItems.push(targetItem)
                    targetItem = []
                  }
                });
              }
            }
          }
          targetItems.forEach((item, i) => {
            if(categories.find(element => element === item[2])) {
              targetURL = "vmod_table#"+item[2]
              url = "/vmod_detail"
            } else {
              var targetURL = "vmod_catego#"+item[2]
              url = "/vmod_detail_kiso"
            }
            var trId = item[2]+"_"+i
            $("tbody").append('<tr id="'+trId+'"><td class="t_pl" data-href="">'+item[0]+'</td></tr>')
            $("#"+trId).children("td").data("href", url);
            $("#"+trId).append('<td class="t_jpn">'+item[1]+'</td>')
            $("#"+trId).append('<td class="category"><a href='+targetURL+'>'+item[2]+'</a></td>')
          });
        }
      });
      //詳細へのリンク
      $(document).on("click", ".t_pl",function() {
        var targetId = "#"+$(this).closest("tr").attr("id")
        var targetCategory = $(targetId).children(".category").text()
        var targetPl = $(this).text()
        var tURL = $(this).data("href")
        var targetData = '<input type="hidden" name="category" value="' + targetCategory + '" /><input type="hidden" name="pl_word" value="' + targetPl + '" />'
        $("body").append('<form action="'+tURL+'" method="post" id="post">'+targetData+'</form>');
        $("#post").submit();
      });
      //リセットボタン
      $(function (){
        $("#reset-btn").on("click", function(){
          clearFrom();
        });
        function clearFrom() {
          $("#keyword").val("");
          $("#result").children("table").find("tbody").empty();
          targetItems = []
          $("#inputCand").text("0")
        }
      });
      //表示切り替え
      $("#open-jpn").change(function() {
        if ($(this).prop("checked") == false) {
          $(".t_jpn").css("visibility", "hidden");
        } else {
          $(".t_jpn").css("visibility", "visible");
        }
      });
      $("#open-pl").click(function() {
        if ($(this).prop("checked") == false) {
          $(".t_pl").css("visibility", "hidden");
        } else {
          $(".t_pl").css("visibility", "visible");
        }
      });
      window.onpageshow = function(event) {
	       if (event.persisted) {
		         window.location.reload();
	        }
      };
    </script>
    <style>
      .t_pl {
        cursor: pointer;
      }
      .t_pl:hover {
        background-color: #e9ecef;
      }
      table {
        table-layout: fixed;
      }
    </style>
  </body>
</html>
